.SideObjectiveSelect .custom-select {
    color: white !important;
    background: #3c3c3c;
    border: 2px solid #5c5c5c;
    font-size: 14px;
}

.SideObjectiveSelect .badge {
    position: relative;
    top: -3px;
    font-size: 10px;
}

